.header {
  position: relative;
  background-color: #f69a73;
  height: 7vh;
}

.name-block {
  position: absolute;
  width: fit-content;
  left:0;
  right:0;
  top:0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  background-color: #00c3ff;
}

.name {
  font-size: 24px;
  color: white;
}

.auth-block {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  color: #00c3ff;
  width: fit-content;
  margin-left: auto;
  display: flex;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

.link-button {
  font-size: 18px;
  color: white;
  text-decoration: none;
  border: 0;
  background-color: Transparent;
}

.link-button:hover {
  cursor: grab;
}

.icon {
  margin-right: 20px;
}

.username {
  color: white;
  font-size: 18px;
  margin-right: 10px;
}